@font-face {
    font-family: 'DINRoundPro';
    src: url('DINRoundPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro';
    src: url('DINRoundPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro';
    src: url('DINRoundPro-Medi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DINRoundPro';
    src: url('DINRoundPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}





